<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doctor_appointment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".user_edit_profile"/>
        <activity android:name=".doctor_details" />
        <activity android:name=".doctor_edit_profile" />
        <activity android:name=".doctor_search" />
        <activity android:name=".user_search" />
        <activity android:name=".doctor_profile" />
        <activity android:name=".user_profile" />
        <activity android:name=".user_details" />
        <activity android:name=".doctor_dashboard" />
        <activity android:name=".user_dashboard" />
        <activity android:name=".user_register" />
        <activity android:name=".user_login" />
        <activity android:name=".doctor_register" />
        <activity android:name=".doctor_login" />
        <activity android:name=".askdoctor" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>